<!-- Redirect to welcome page if not logged in -->
<div ng-if="loggedIn == false">
   {{locationPath("welcome")}}
</div>
<div ng-if="loggedIn == true">
   <!-- Navbar -->
   <nav-bar links="navLinks" pills="navPills" modals="navModals" ng-init="updateNav(4)"></nav-bar>
   <!-- Main Page -->
   <div class="container top-spacer-70">
      <div class="row">
         <div class="panel panel-default">
            <div class="panel-heading">Leaderboard</div>
            <div class="panel-body">
               <table class="table table-hover table-bordered">
                  <tr class="active">
                     <td class="col-md-2">Rank</td>
                     <td class="col-md-2 text-center">Nickname</td>
                     <td class="col-md-2 text-center">User Since</td>
                     <td class="col-md-2 text-center">Cash</td>
                     <td class="col-md-2 text-center">Shares</td>
                     <td class="col-md-2 text-center">Total Portfolio Value</td>
                  </tr>
                  <tr ng-repeat="details in list" ng-init='i=$parent.start+1; $parent.start=$parent.start+1;'>
                     <td ng-if="details[0] != user.email">{{i}}</td>
                     <td ng-if="details[0] != user.email" class="text-center">{{details[2]}}</td>
                     <td ng-if="details[0] != user.email" class="text-center">{{details[3] | date:"dd/MM/yyyy"}}</td>
                     <td ng-if="details[0] != user.email" class="text-center">{{details[1] | number:2}}</td>
                     <td ng-if="details[0] != user.email" class="text-center">{{details[4] | number:2}}</td>
                     <td ng-if="details[0] != user.email" class="text-center">{{details[5] | number:2}}</td>
                     <!-- highlight user bold from the leaderboard -->
                     <td ng-if="details[0] == user.email"><b>{{i}}</b></td>
                     <td ng-if="details[0] == user.email" class="text-center"><b>{{details[2]}}</b></td>
                     <td ng-if="details[0] == user.email" class="text-center"><b>{{details[3] | date:"dd/MM/yyyy"}}</b></td>
                     <td ng-if="details[0] == user.email" class="text-center"><b>{{details[1] | number:2}}</b></td>
                     <td ng-if="details[0] == user.email" class="text-center"><b>{{details[4] | number:2}}</b></td>
                     <td ng-if="details[0] == user.email" class="text-center"><b>{{details[5] | number:2}}</b></td>
                  </tr>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>