<div class="modal-header">
   <h4 class="modal-title">Place Order</h4>
</div>
<form name="orderForm" class="form-horizontal">
   <fieldset>
      <div class="modal-body">
         <div class="row text-center">
            <h6 class="label-danger" ng-bind="status" ng-if="status != 'Order Successful!'"></h6>
         </div>

         <!-- Order Type -->
         <div class="form-group">
            <label class="col-md-4 control-label" for="order_type">Order Type</label>
            <div class="col-md-6">
               <label class="radio-inline" for="order_type_buy">
                  <input type="radio" name="order_type" id="order_type_buy" value="buy" ng-model="order.type" ng-checked="true" ng-change="updatePriceDisplay()"/>
                  Buy
               </label>
               <label class="radio-inline" for="order_type_sell">
                  <input type="radio" name="order_type" id="order_type_sell" value="sell" ng-model="order.type" ng-change="updatePriceDisplay()" required />
                  Sell
               </label>
               <span class="label label-danger" ng-if="submitted && orderForm.order_type.$error.required">Required</span>
            </div>
         </div>

         <!-- Order Subtype -->
         <div class="form-group">
            <label class="col-md-4 control-label" for="order_subtype">Order Subtype</label>
            <div class="col-md-6">
               <label class="radio-inline" for="order_subtype_market">
                  <input type="radio" name="order_subtype" id="order_subtype_market" value="market" ng-model="order.subtype" ng-checked="true" ng-change="updatePriceDisplay()" />
                  Market
               </label>
               <label class="radio-inline" for="order_subtype_limit">
                  <input type="radio" name="order_subtype" id="order_subtype_limit" value="limit" ng-model="order.subtype" />
                  Limit
               </label>
               <label class="radio-inline" for="order_subtype_stop">
                  <input type="radio" name="order_subtype" id="order_subtype_stop" value="stop" ng-model="order.subtype" />
                  Stop
               </label>
               <span class="label label-danger" ng-if="submitted && orderForm.order_subtype.$error.required">Required</span>
            </div>
         </div>

         <!-- Price -->
         <div class="form-group">
            <label class="col-md-4 control-label" for="order_price">Price ($)</label>
            <div class="col-md-4">
            <input name="order_price" id="order_price" type="number" step="0.005" min="0"
               class="form-control input-md" ng-model="order.price" ng-pattern="/^[0-9]+(\.[0-9]+)*$/" ng-disabled="order.subtype == 'market'"></input>
               <span class="label label-danger" ng-if="submitted && orderForm.order_price.$error.required">Required</span>
               <span class="label label-danger" ng-if="orderForm.order_price.$error.pattern || orderForm.order_price.$error.number">Price needs to be a number greater than or equal to $0.00</span>
            </div>
         </div>

         <!-- Quantity -->
         <div class="form-group">
            <label class="col-md-4 control-label" for="order_quantity">Quantity</label>
            <div class="col-md-4">
               <input name="order_quantity" id="order_quantity" type="number" step="1" min="0"
               class="form-control input-md" ng-model="order.quantity" ng-pattern="/^[0-9]+(\.[0-9]+)*$/" required />
               <span class="label label-danger" ng-if="submitted && orderForm.order_quantity.$error.required">Required</span>
               <span class="label label-danger" ng-if="order.quantity < 1 || orderForm.order_quantity.$error.pattern || orderForm.order_quantity.$error.number">Quantity needs to be a number greater than 0</span>
            </div>
         </div>
      </div>
      <!-- Modal Confirmation Button -->
      <div class="modal-footer">
         <button class="btn btn-primary" type="button" ng-click="openOrderConfirm()">Submit Order</button>
         <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
      </div>
   </fieldset>
</form>