<div class="modal-header">
   <h4 class="modal-title">Change Password</h4>
</div>
<form class="form-horizontal" name="changePass" ng-submit="changeLogin()">
   <fieldset>
      <div class="modal-body">
         <p class="text-center"><span class="label label-danger" ng-if="message && message != 'Password changed successfully!'">{{message}}</span></p>
         <p class="text-center"><span class="label label-success" ng-if="message && message == 'Password changed successfully!'">{{message}}</span></p>
         <div class="form-group">
            <label for="old_pass" class="col-md-4 col-md-offset-1 control-label">Old Password</label>
            <div class="col-md-4">
               <input name="old_pass" type="password" class="form-control" id="old_pass" ng-model="pass.old" required>
            </div>
         </div>

         <div class="form-group">
            <label for="password" class="col-md-4 col-md-offset-1 control-label">New Password</label>
            <div class="col-md-4">
               <input name="password" type="password" class="form-control" id="password" ng-model="pass.new1" required>
            </div>
         </div>

         <div class="form-group">
            <label for="password_again" class="col-md-4 col-md-offset-1 control-label">Confirm New Password</label>
            <div class="col-md-4">
               <input name="password_again" type="password" class="form-control" id="password_again" ng-model="pass.new2" required>
            </div>
         </div>
      </div>
      <div class="modal-footer">
         <button type="submit" name="submit" id="submit" class="btn btn-primary">Change Password</button>
         <button class="btn btn-default" type="button" ng-click="cancel()">Close</button>
      </div>
   </fieldset>
</form>